* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #e7eed0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #948e99;
  padding: 10px;
}

main {
  background-color: #cad1c3;
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}

h2 {
  color: black;
  margin: 10px;
}

p {
  margin: 10px;
}

a {
  color: black;
  text-decoration: none;
}

.lado {
  padding: 2px;
  float: left;
}

li {
  list-style: none;
}

iframe {
  width: 100%;
}
